<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <h1>HelloApp</h1>
    <%= render partial: '/layouts/logged_in_user' %>
    <%= yield %>
  </body>
</html>
