<html>
  <head>
    <title>Courses</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'courses' %>
  </head>
  <body>
    <%= image_tag 'ruby.jpeg' %>
    <div class="container-fluid">
      <%= render partial: '/layouts/logged_in_user' %>
      <%= yield %>
    </div>
  </body>
</html>
