<tr>
  <td><%= course.id %></td>
  <td><%= course.name %></td>
  <td><%= course.students.size %></td>
  <td>
    <%= link_to('Edit', edit_course_path(course.id), class: 'btn btn-warning') if can?(:update, course) %>
    <%= link_to('Process', do_hard_work_course_path(course.id), class: 'btn btn-success') if can?(:update, course) %>
  </td>
</tr>
