<h1><%= t('ui.courses.title') %></h1>
<table>
  <tr>
    <th>ID</th>
    <th><%= t('ui.courses.columns.name') %></th>
    <th><%= t('ui.courses.columns.students_number') %></th>
    <th><%= t('ui.generic.actions') %></th>
  </tr>
<% @courses.each do |course| %>
  <%= render partial: 'course', locals: {course: course} %>
<% end %>
